<div class="layout">
  <aside class="sidebar">
    <div class="brand">Pomagač semestra</div>

    <nav class="menu">
      <a routerLink="/upload-attendance" routerLinkActive="active">Upisivanje prisustva</a>
    </nav>
    <nav class="menu">
      <a routerLink="/upload-student" routerLinkActive="active">Spisak studenata</a>
    </nav>
    <nav class="menu">
      <a routerLink="/upload-result" routerLinkActive="active">Upisivanje rezultata</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>